<<<<<<< HEAD
#kitchen
{ background-image:  url('/assets/images/Kitchen.gif');
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;


}
=======
>>>>>>> 686a2a29248c3ed8fa7aee60e5a18c5003aa0f51
